body {
    
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}


.panel-heading-btn {
    margin: 0px;
}

.form-submit-btn {
    margin: 24px 0px 0px 0px;
}

.modal-footer {
    text-align: center;
    padding: 0px 0px 30px 0px;
}
.modal-footer-padding {
    padding: 0px 0px 30px 0px;
}


/*
 |--------------------------------------------------------------------------
 | Un-Authenticated Pages
 |--------------------------------------------------------------------------
 |
 | Any styles that need to be applied before a user is logged in can be
 | added here.
 |
*/
.login-container {
    width: 300px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}
.login-panel-body {
    padding: 15px 15px 4px 15px;
}
.centered-container {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.text-x-small {
    font-size: x-small;
}
.forgot-password {
    margin: 0px;
}

/*
 |--------------------------------------------------------------------------
 | Authenticated Pages
 |--------------------------------------------------------------------------
 |
 | Any styles that need to be applied after a user is logged in can be
 | added here.
 |
*/
.login-btn-home {
    margin: 30px 0px 15px 0px;
}
.ajax-alert {
    display: none;
}
.clear-nav {
    margin-top: 90px;
}
.logout-btn {
    margin-bottom: 15px;
}