/*
 |--------------------------------------------------------------------------
 | Bootstrap Overrides
 |--------------------------------------------------------------------------
 |
 | Any styles that need to be applied only for the login page can be added
 | here.
 |
*/
.panel {
    background-color: rgba(255, 255, 255, .85);
}

/*
 |--------------------------------------------------------------------------
 | Login Page
 |--------------------------------------------------------------------------
 |
 | Any styles that need to be applied only for the login page can be added
 | here.
 |
*/
.login-container {
    width: 300px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}
.text-x-small {
    font-size: x-small;
}
.forgot-password {
    padding: 5px 0px 0px 0px;
    margin-bottom: -5px;
}

/*
 |--------------------------------------------------------------------------
 | Registration Page
 |--------------------------------------------------------------------------
 |
 | Any styles that need to be applied only for the registration page can be
 | added here.
 |
*/
.register-container {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}